{% extends "base.html" %}
{% block content %}
<style>
  
</style>
<header class="my-4">
  <div class="button-container">
    <div class="button">
      <img src="fertilizer-icon.png" alt="Fertilizer Calculator">
      <span>Fertilizer calculator</span>
      <i class="arrow">&#8594;</i>
    </div>
    <div class="button">
      <img src="pests-diseases-icon.png" alt="Pests & Diseases">
      <span>Pests & diseases</span>
      <i class="arrow">&#8594;</i>
    </div>
  </div>
</header>
{% endblock %}
